@{
    ViewBag.Title = "About";
}
<h3>Información de la página</h3>

<p>El Noticion.gio es un diario mexicano fundado en Marzo de 2018 en la Ciudad de Celaya, Guanajuato perteneciente a Organización Editorial Mexicana.</p>

<strong style="font-size:15px;">Secciones</strong> 
<p>Finanzas: Información de finanzas, negocios y economía.</p>
<p>Deportes: Información de todos los deportes de México y el mundo.</p>
<p>Sociales: Todo el ámbito social</p>
<p>Política: Información de política nacional e internacional.</p>
<p>Internacional: Todo tipo de noticias internacionales</p>