@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Tecnológico Nacional De México<br />
    Instituto Tecnologico de Roque<br />
</address>

<address>
    <strong>Nombre:</strong> <a style="text-decoration:none;">Cristian Giovanny Lara Avalos</a><br />
    <strong>Correo:</strong> <a style="text-decoration:none;">giovanny_8694@hotmail.com</a>
</address>