@model IEnumerable<Noticiero.Models.NoticiasXClasif>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hijo del Llanero Cesariecitito!!</h1>
    <p class="lead">El Milhouse cara de chile, se andaba dando un tiro con el Llanero por los albañiles de Roque!</p>
    <p><a href="http://localhost:61998/Home/About" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>

<div class="row">
    @{
        var i = 1;
        foreach (var entrada in Model)
        {
            if (i==1 || i == 4 || i == 7 || i == 10 || i==13)
            {
                @:</div>
                @:<div class="row">
                <hr />
                <h2 style="margin:10px 0 10px 10px;"><strong>@entrada.Nombre</strong></h2>
                <hr />
            }
            i++;
            <div class="col-md-4">
                <img src="~/Imagenes/@entrada.Foto" style="max-height:100%; width:100%; height:auto;" />
                <h3 style="text-align:justify;">@Html.ActionLink(entrada.Titulo, "DetalleNoticia", "Noticias", new { id = entrada.NoticiaID }, null)</h3>
                <p class="btn btn-default">@Html.ActionLink("Ver Más", "DetalleNoticia", "Noticias", new { id = entrada.NoticiaID }, null)</p>
            </div>
        }
    }
</div>